<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stderr="true"
         stopOnFailure="false"
         bootstrap="./vendor/autoload.php">
  <testsuites>
    <testsuite name="OAuth 2 Client Provider Test Suite">
      <directory suffix="Test.php">./tests/</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>./src</directory>
    </include>
    <exclude>
      <directory>./tests</directory>
    </exclude>
  </source>
</phpunit>
